@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

h1{
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    text-align: center;
    color:#007bff;
    padding-top: 50px;
    text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);
}

h2{
    font-family: 'Marck Script', cursive;
    font-size: 4,8rem;
    text-align: center;
    color: grey;
}
body{
    padding: 0%;
    margin-left: 0%;
    background: rgb(254,254,254);
    background: linear-gradient(90deg, rgba(254,254,254,1) 51%, rgba(196,196,212,1) 88%, rgba(119,123,124,1) 100%);
}

body h1{
    font-size: 100px;  
}

/*Banniere decorative*/
.banniere{
    height: 500px;
    background-image: url('../images/banniere.jpg');
    background-attachment: fixed;
    background-size: cover;
     
}

.special-color-dark{
    background-color: #263238;
}

.presentation{
   margin-top: 20px; 
   margin-bottom: 50px;
   padding-bottom: 50px;
   padding-top: 50px;
   
}
.dodo{
 border-width:1px;
 line-height: 1.5em;
 color: #444444;
 background-color: #ddd;
 background-image: linear-gradient(#E5E5E5, #CFCFCF);
 box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.45),            
 -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
 margin-top: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
}


